.search {
  position: relative;
  display: flex;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
}
.search-container {
  position: sticky;
  top: 5px;
  z-index: 1;
  height: 50px;
  max-width: 400px;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.searchTerm {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  font-size: 15px;
  border: 1px solid #d0cfce;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  outline: none;
}
.searchTerm:focus {
  color: #00b4cc;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

app-note-card {
  display: flex;
  justify-content: center;
  max-width: 400px;
  margin: auto;
  margin-bottom: 15px;
}

.button {
  background-color: var(--blue);
  border-radius: 2px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 8px 50px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  max-width: 400px;
  min-width: 300px;
  height: 60px;
  width: auto;
  box-shadow: 0 0 15px 5px rgba(var(--purple), 0.2);
}

.fixedAdd {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
notes-list {
  max-width: 400px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 70px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .main-container {
    max-width: 315px;
  }
  .fixedAdd .button {
    max-width: 300px;
    margin: auto;
  }

  notes-list,
  app-note-card {
    max-width: 300px;
    margin: auto;
    margin-bottom: 15px;
  }
}
