.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 400px;
  min-width: 350px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: var(white);
  overflow: hidden;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 350px;
}
.input {
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 25px;
  height: auto;
  padding: 10px 15px;
}
.label {
  font: 'Roboto';
  font-weight: bold;
  color: rgba(23, 23, 255, 0.896);
}
.textarea {
  /* font: "sans-serif"; */
  border-radius: 3px;
  margin-top: 15px;
  padding: 10px 15px;
  height: auto;
}

.button {
  margin-top: 10px;
  background-color: var(--blue);
  border-radius: 2px;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.cancel,
.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input,
.textarea .ng-invalid {
  border-color: black;
  box-shadow: 5px 5px 5px 5px rgba(red);
}

.button:disabled {
  opacity: 0.5;
}

@media screen and (max-width: 480px) {
  .form-container {
    max-width: 300px;
    min-width: 250px;
    padding: 5px;
  }
  .control {
    max-width: 300px;
    min-width: 250px;
  }
}
